# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

# https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=vsts&tabs=example#trigger
# trigger:
# - master


strategy:
  matrix:
    linux:
      # note: travis was using trusty aka Ubuntu 14.04.5 LTS
      # note 18.04 not available
      imageName: 'ubuntu-16.04'
    mac:
      imageName: 'macos-10.13'
    mac_cpp:
      # 'macos-10.14' fails
      imageName: 'macos-10.13'
      NIM_COMPILE_TO_CPP: 'true'

    # windows:
    #   imageName: 'vs2017-win2016' # CHECKME

pool:
  vmImage: $(imageName)

variables:
  MY_VAR: my value

steps:
- script: |
    # echo See https://aka.ms/yaml
    # separate step so we can download its log separately (can't download log before a script finishes apparently?)
    sh ci_run.sh
    # echo_run echo $(imageName)

- script: |
    exit # PRTEMP
    # sh build_all.sh
    git clone --depth 1 https://github.com/nim-lang/csources.git
    cd csources
    sh build.sh
    cd ..

    export PATH=$(pwd)/bin${PATH:+:$PATH}
    echo PATH:${PATH}

    nim c koch
    ./koch runCI
    # TODO: before_deploy and deploy from travis

  displayName: 'Nim runCI'
